$tileBaseColour: #56766b;
$tileActiveColour: #c59849;
$tileMedLengthColour: #444d74;
$tileLongLengthColour: #93256c;

$borderColour: #1e1f1e;
$borderBotColour: $tileBaseColour;

$textColour: white;

$answerWarnColour: #ed0707;
