.letter-tile {
  width: 100%;
  height: 100%;
  user-select: none;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2em;
  color: white;

  box-sizing: border-box;
  border-radius: 5px;
  //box-shadow: 1px 1px 1px 1px rgb(105, 105, 105);
  //box-shadow: inset 0px 0px 2px 2px white;
  transition: background-color 0.1s linear;
  background-color: #eb251e;

  &.selectable {
    cursor: pointer;
  }

  &.inactive {
    width: 20%;
    height: 20%;
    animation: spin 4s linear infinite;
  }

  &.active {
    background-color: #f49301;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg) scale(0.95);
  }
  50% {
    transform: rotate(180deg) scale(1.2);
  }
  100% {
    transform: rotate(360deg) scale(0.95);
  }
}
