.letter-tile {
  width: 100%;
  height: 100%;
  user-select: none;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2em;
  color: white;

  box-sizing: border-box;
  //border: 1px solid black;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgb(105, 105, 105);
  //box-shadow: inset 0px 0px 2px 2px white;

  background-color: #ee1246;

  &.selectable {
    cursor: pointer;
  }

  &.inactive {
    animation: spin 4s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg) scale(0.95);
  }
  50% {
    transform: rotate(180deg) scale(1.2);
  }
  100% {
    transform: rotate(360deg) scale(0.95);
  }
}
