@import '../../common/styles/animations.scss';

.answer-input {
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid black;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &.enter {
    // Delay is letter pool size / 10 seconds
    animation: slideInUp 0.4s $animInCurve 4s;
    animation-fill-mode: both;
  }

  &.warn {
    animation: shakeSide 0.82s $shakeCurve;
    animation-fill-mode: forwards;
  }

  .answer-word {
    display: flex;

    .letter-container {
      width: 50px;
      height: 50px;
      margin-left: 3px;

      &:first-child {
        margin: none;
      }
    }
  }

  .accept-button {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
  }
}
