@import '../../common/styles/animations.scss';

.answers-list {
  width: 100%;

  animation: slideInLeft 0.4s $animInCurve 4.1s;
  animation-fill-mode: both;

  display: flex;
  flex-wrap: wrap;

  .answer {
    margin: 5px;
    padding: 5px 10px;
    box-sizing: border-box;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
    height: fit-content;
    color: white;
    font-size: 2rem;

    &.short {
      background-color: #57886c;
    }

    &.medium {
      background-color: #38405f;
    }

    &.long {
      background-color: #832161;
    }
  }
}
