@import '../../common/styles/animations.scss';

.answers-list {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid black;

  animation: slideInLeft 0.4s $animInCurve 4.1s;
  animation-fill-mode: both;
}
