.game-screen-web {
  width: 1000px;
  height: 100%;
  padding: 50px 0px;
  box-sizing: border-box;

  display: grid;
  grid-template-areas:
    'letters score'
    'letters answers'
    'input answers';
  grid-template-columns: minmax(0, 60%) minmax(0, 40%);
  grid-template-rows: minmax(0, 80px) minmax(0, auto) minmax(0, 80px);
  column-gap: 30px;

  .letter-pool-area {
    grid-area: letters;
    margin-bottom: 10px;

    display: flex;
    flex-direction: column-reverse;
  }

  .answer-input-area {
    grid-area: input;
  }

  .score-area {
    grid-area: score;
  }

  .answers-area {
    grid-area: answers;
  }
}
