.game-screen-web {
  width: 555px;
  height: 100%;
  padding: 50px 0px;
  box-sizing: border-box;

  display: grid;
  grid-template-areas:
    'score'
    'letters'
    'input'
    'answers';
  grid-template-rows: minmax(0, 80px) minmax(0, 222px) minmax(0, 80px) minmax(0, auto);

  .letter-pool-area {
    grid-area: letters;
    margin-bottom: 10px;

    display: flex;
    flex-direction: column-reverse;
  }

  .answer-input-area {
    grid-area: input;
  }

  .score-area {
    grid-area: score;
  }

  .answers-area {
    grid-area: answers;
  }
}
