@import '../../common/styles/animations.scss';

.letter-pool {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid black;

  // padding-right: 12px;
  // padding-bottom: 8px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;

  .letter-container {
    width: 50px;
    height: 50px;
    margin-right: 5px;
    margin-bottom: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    animation: slideInDown 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.01);
    animation-fill-mode: both;
  }
}
