.home {
  display: grid;
  grid-template-areas:
    '.. .. controls'
    '.. title ..'
    '.. .. ..'
    '.. play ..'
    '.. .. ..';
  grid-template-columns: 1fr minmax(0, 5fr) 1fr;
  grid-template-rows: 1fr 4fr 3fr 1fr 1fr;

  .controls {
    grid-area: controls;
  }

  .title {
    grid-area: title;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
  }

  .play-button {
    grid-area: play;
    border: 1px solid black;
    border-radius: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
  }
}
